* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 500px;
    background-color: #0D325A;
    width: 100vw;

}
.top-header {
    height: 100px;
    background-color: #0D325A;
    width: 100vw;
}

.bottom-header {
    height: 400px;
    background-image: url(img/oldman.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    width: 1200px;
    margin: auto;

}

#logo {
    float: left;
    margin-top: 25px;
    cursor:pointer;
}
.navbar {
    float: left;
    line-height: 100px;
    margin-left: 70px;
}
.navbar li {
    display: inline-block;
}
.navbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-right: 8px;
}

.navbar a:hover {
    color: #f8b71c;
}

.cta {
    float: right;
    line-height: 100px;
}

.cta a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
}

.tutor {
    color: rgba(255, 255, 255, 0.5);

}

.login {
    color: white;
    border: 1px solid #5f94ca;
    border-radius: 4px;
    padding: 8px 25px;

}

.cta .btn {
    color: white;
    border-radius: 4px;
    padding: 9px 20px;
    background-color: #7fb802;
}

.testa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 45px;
    font-weight: 400;
    color: white;
    line-height: 60px;
    margin-bottom: 30px;
}

.jumbo-wrapper {
    height: 400px;
    width: 600px;
    position: relative;
}

.testa .btn{
    color: white;
    border-radius: 4px;
    padding: 9px 20px;
    background-color: #7fb802;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.fascia {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
}

h2 {
    font-weight: 200;
    margin-bottom: 10px;
}

.fascia p {
    color: #999;
    font-size: 18px;
}

section.contenuto{
    background-color: white;
    width: 100vw;
    height: 605px;
}



.casella {
    width: 400px;
    float: left;
    padding: 30px;
}

.blocco img{
    width: 250px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.blocco hr{
    width: 40px;
    height: 2px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #999;
}

h3{
    color: #7fb802;
    font-family: inherit;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
}

.blocco p {
    color: #999;
    text-align: center;
    font-weight: normal;
    line-height: 25px;
}

#pc {
    margin-top: 50px;
}
